/* 共通部分 */

html{
  font-size: 100%;
}
body{
  font-family:"游明朝体", "Yu Mincho", "YuMincho", "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
  line-height: 27px;
  color:#262626;
}
a{
  text-decoration: none;
  color:#333333;
}
a:hover{
  opacity: .7;
}
img{
  max-width: 100%;
}
*{
  margin: 0;
}
header h1 a:hover{
  opacity: 1;
}
.wrapper{
  max-width: 1000px;
  margin: 0 auto;
  /* padding: 0 2%; */

}
.full{
  width: 100%;
  max-height: 675px;
  object-fit: cover;
  margin-top: 30px;
}

/* HEADER */

header img{
  width: 75px;
  height: 250px;

}
header h1{
  text-align: center;
  margin-top: 20px;
}
header ul{
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
header ul li{
  margin:0 50px;
  margin-top: 35px;
}

/* HOME */
.navi{
  display: flex;
  gap: 30px;
  margin-top:30px ;

}
.navi a img{
  width: 370px;
  height: 180px;
  object-fit: cover;
}

.navi h2{
  font-weight: bolder;
  font-size: 1.1rem;
  margin-bottom: 20px;
}
.navi p{
  margin-top: 20px;
  font-weight:lighter;
}
.btn{
  margin-top: 30px;
}
.btn a{
  display: block;
  border: solid 1px #DDDDDD;
  border-radius: 2px;
  line-height: 1;
  padding: 14px;
  text-align: center;
  background-image: url(../ic_btn.svg);
  background-position: right 20px center;
  background-repeat: no-repeat;
  text-decoration: none;
}

/* FOOTER */

footer {
  margin-top: 50px;
  height: 300px;
  background-color:#F0F0F0 ;
  width: 100%;
  padding-top: 40px;
  margin-left: 0;
}
footer section{
  display: flex;

}

footer div{
  margin-left: 100px;
}

footer h3{
  line-height: 2;
  
}
footer p{
  line-height: 2;
  font-size: .8rem;
  font-weight: lighter;
}
footer b{
  font-size: 1.8rem;
}
footer span{
  margin-left: 57px;
}

.space{
  margin-left: 10px;
}

footer>p{
  text-align: center;
  margin-top: 100px;
}

/* PHILOSOPHY */

.content{
  padding: 0 15%;
  max-width: 800px;
  margin-top: 100px;
}
.title{
  text-align: center;
  font-weight: normal;
  font-size:2rem ;
  margin-bottom: 100px;
  margin-top: 40px;
}
.content p{
  margin-top: 30px;
  font-weight: lighter;
}
figure img{
  width: 50%;
  float: right;
  margin-left: 50px;
  text-align: right;
}
.end{
  text-align: right;
  margin-top: 100px;
}

/* ABOUT */

.about-content h3{
  text-align: center;
  font-weight: normal;
}
.about-content p{
  line-height: 2;
}


.about-content section >div{
  display: flex;
  margin-top: 50px;
}
.about-content img{
  width: 165px;
  height: 165px;
  border-radius: 50%;
  

}
.about-content h4{
  font-weight: normal;
  font-size: 1.3rem;
}
.container{
  margin-left: 40px;
}

/* MENU */
.menu-content h3{
  text-align: left;
  border-bottom: #333333 1px solid;
  padding-left: 50px;
  margin-top: 40px;
}
.menu-content>div{
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
}
.menu-content table{
  margin-right: 0px;
}
.price{
  padding-left: 70px;
}

/* RESTAURANT */
.res-content h3{
  margin-top: 30px;
  

}
.map{
  display: inline;
  padding: 150px;
  border: #333333 1px solid;
  margin-left: 300px;
  width: 30px;
  height: 30px;
}
.res-content{
  display: flex;
}

@media(max-width:1200px){
  .wrapper{
    max-width: 900px;
  }
  .conteiner{
    max-width: 700px;
  }
  .price{
    padding-left: 10px;

  }
  .menu-content table{
    margin-left: 50px;
  }
  header ul li{
    margin:0 30px;
    margin-top: 35px;
    
  }
}
@media(max-width:1000px){
  .wrapper{
    max-width: 750px;
  }
  .conteiner{
    max-width: 550px;
  }
  footer div{
    margin-left: 50px;
  }
  .price{
    padding-left: 0;
  }
  header ul{
    max-width: 1000px;
    padding: 0;

  }
  .menu-content table{
    margin-left: 20px;
  }
  .map{
    padding: 100px;
    margin-left: 150px;
  }
  .container{
    margin-left: 10px;
  }
}
@media(max-width:780px){
  header ul {
    margin:0 5px;
    margin-top: 35px;
    flex-direction: column;
    align-items: center;


  }
  .navi{
    flex-direction: column;
    align-items: center;
  }
  footer{
    padding-top: 10px;
    height: 420px;
    font-size: 0.8rem;

  }
  footer section{
    flex-direction: column;
    align-items: left;
  
  }
  footer div{
    padding-top: 0;
    margin-bottom: 20px;
  }
  footer>p{
    margin: 10px 0;
  }
  .content{
    padding:05%
  }
  figure img{
    width: 100%;
    margin: 20px 0;
    text-align: center;
  }
  .about-content section >div{
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }
  .about-content img{
    margin-bottom: 20px;
  }
  .container{
    margin-left: 10px;
  }
  .menu-content>div{
    flex-direction: column;
    align-items: left;
    margin-top: 60px;
  }
  .price{
    text-align: right;
    padding-right: 20px;
  }
  table{
    margin-left: 0;
    text-align: left;
  }
  .res-content{
    flex-direction: column;
  }
  .map{
    width: 50%;
    margin: 30px auto 0;
   
  }
  .res-content div:first-child{
    margin-left: 50px;
  }
}